* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alexandria', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

body {
    max-width: 100vw;
    overflow: hidden auto;
}

.section-head {
    font-size: clamp(1.4375rem, calc(1.0511rem + 1.5455vw), 2.5rem);
    font-weight: 600;
    line-height: clamp(2.5625rem, calc(2.108rem + 1.8182vw), 3.8125rem);
    letter-spacing: 0em;
    text-align: center;
    position: relative;
}

.section-head::after {
    content: '';
    width: 2.5rem;
    height: 5px;
    background-color: rgb(211, 51, 255);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        /* For small devices (up to 575.98px) */
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        /* For medium devices (576px to 767.98px) */
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        /* For large devices (768px to 991.98px) */
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        /* For extra large devices (992px to 1199.98px) */
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1350px;
        /* For extra large devices (992px to 1199.98px) */
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100vw;
    background: rgba(255, 255, 255, 0.24);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    transition: background-color .3s ease-in;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1rem, calc(-0.439rem + 3.0019vw), 2rem);
}

header .container .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(2rem, calc(1.2727rem + 2.9091vw), 4rem);
}

header .container .left img {
    width: clamp(8rem, calc(2.2439rem + 12.0075vw), 12rem);
}

header .container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, calc(-0.439rem + 3.0019vw), 2rem);
    list-style: none;
}

header .container .more {
    display: none;
}

@media (max-width: 992.99px) {
    header .container ul {
        display: none;
    }
    header .container .more {
        display: block;
    }
    header .container .more i{
        font-size: 25px;
        color: #000;
        padding: 1rem 0;
    }
}

header .container ul a {
    text-decoration: none;
    font-size: clamp(0.8rem, calc(0.6561rem + 0.3002vw), 0.9rem);
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
    color: rgba(36, 30, 61, 1);
}

header .container ul a span {
    padding: 5px;
    background: rgba(248, 136, 48, 1);
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
}

header .container ul a li {
    padding: 2rem 0;
    transform: translateY(2px);
    border-bottom: 4px solid rgba(255, 114, 20, 0)
}

header .container ul a li.active {
    border-bottom: 4px solid rgba(255, 114, 20, 1)
}


.hero {
    width: 100vw;
    position: relative;
    height: 95vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

.hero .img {
    width: 100%;
    height: 90%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.hero .img::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(61, 56, 84, 1);
    z-index: 111;
    mix-blend-mode: screen;
}

.hero .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .container {
    z-index: 222;
}

.hero .container .hero-card{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    box-shadow: 0px 10px 45px 0px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    overflow: hidden;
}

.hero .container .hero-card >div:first-child {
    border-right: 1px solid #ffffff42;
    background: rgba(26, 22, 44, 0.98);
    padding: clamp(2rem, calc(0.561rem + 3.0019vw), 3rem);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.hero .container .hero-card >div:first-child h1{
    font-size: clamp(1.875rem, calc(0.0762rem + 3.7523vw), 3.125rem);
    font-weight: 600;
    line-height: clamp(1.875rem, calc(0.0762rem + 3.7523vw), 3.125rem);
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    white-space: nowrap;
}

.hero .container .hero-card >div:first-child h1 span{
    color: rgba(255, 114, 20, 1);
}

.hero .container .hero-card >div:first-child h1 img{
    width: 2rem;
    transform: translateY(.5rem);
}

.hero .container .hero-card >div:first-child p{
    color: #fff;
    font-size: clamp(1rem, calc(0.9091rem + 0.3636vw), 1.25rem);
    font-weight: 300;
}

.hero .container .hero-card >div:nth-child(2) {
    background: rgba(26, 22, 44, 0.98);
    padding: clamp(2rem, calc(1.2805rem + 1.5009vw), 2.5rem) clamp(0rem, calc(-3.5976rem + 7.5047vw), 2.5rem);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
}

.hero .container .hero-card >div:nth-child(2) .statistics{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.hero .container .hero-card >div:nth-child(2) .statistics >div {
    width: 100%;
    background: rgb(26, 22, 44);
    border-radius: 1.18rem;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: clamp(0.8125rem, calc(0.4527rem + 0.7505vw), 1.0625rem);
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    white-space: nowrap;
}

.hero .container .hero-card >div:nth-child(2) .statistics >div i{
    color: rgb(211, 51, 255);
}

.hero .container .hero-card >div:nth-child(2) .statistics >div span {
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.hero .container .hero-card >div:nth-child(2) a {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(92, 86, 120);
    text-decoration: none;
}

.hero .container .hero-card >div:nth-child(2) a span {
    color: rgba(248, 136, 48, 1);
    font-weight: 600;
}

.hero .container .hero-card >div:last-child a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(248, 136, 48, 1);
    padding: 1.5rem;
    color: #fff;
    text-decoration: none;
    height: 100%;
    align-items: end;
    width: 100% !important;
    border-radius: 0 !important;
}

.hero .container .hero-card >div:last-child a img{
    width: 40px;
}

.hero .container .hero-card >div:last-child a span{
    width: 100%;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
}
@media (max-width: 992.99px) {
    .hero .container .hero-card {
        grid-template-columns: 2fr 2fr;
    }

    .hero .container .hero-card>div:last-child {
        grid-column: span 2;
    }

    .hero .container .hero-card>div:last-child a {
        flex-direction: row-reverse;
        padding: 1.2rem;
    }

    .hero .container .hero-card>div:nth-child(2) a {
        margin-left: 1rem;
    }
}

@media (max-width: 767.99px) {
    .hero {
        max-height: 600px;
    }
    .hero .container .hero-card {
        grid-template-columns: 1fr;
        border-radius: 40px;
    }
    .hero .container .hero-card>div:last-child {
        grid-column: span 1;
    }
    .hero .container .hero-card>div:first-child {
        padding: 2rem;
        gap: .5rem;
    }
    .hero .container .hero-card>div:first-child h1 {
        font-size: 28px;
        line-height: 30px;
    }
    .hero .container .hero-card>div:first-child h1 img {
        width: 1rem;
        transform: translateY(.2rem);
    }
    .hero .container .hero-card>div:first-child p {
        font-size: .8rem;
    }
    .hero .container .hero-card>div:nth-child(2) {
        padding: 0 1.5rem 1rem;
        gap: .5rem;
    }
    .hero .container .hero-card>div:nth-child(2) .statistics {
        gap: .5rem;
    }
    .hero .container .hero-card>div:nth-child(2) .statistics>div {
        border-radius: 1rem;
        padding: .7rem;
        text-align: center;
        font-size: 10px;
        gap: .4rem;
    }
    .hero .container .hero-card>div:nth-child(2) .statistics>div span {
        font-size: 10px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        white-space: nowrap;
    }
    .hero .container .hero-card>div:nth-child(2) a {
        font-size: 15px;
        text-align: center;
        width: 100%;
    }
    .hero .container .hero-card>div:last-child a {
        padding: 1rem 1.5rem 1.5rem;
        flex-direction: row-reverse;
    }
    .hero .container .hero-card>div:last-child a img {
        width: 30px;
    }
    .hero .container .hero-card>div:last-child a span {
        font-size: 20px;
    }
}

.video-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}

.video-wrapper:hover #video-player::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    pointer-events: none;
}

.video-wrapper:hover #video-player {
    pointer-events: none;
}

.why-cloud-kitchen {
    margin-top: clamp(3rem, calc(2.2727rem + 2.9091vw), 5rem);
}

.why-cloud-kitchen .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1.5rem, calc(0.9545rem + 2.1818vw), 3rem);
}

.why-cloud-kitchen .container h1 img {
    width: clamp(6rem, calc(4.5455rem + 5.8182vw), 10rem);
    display: block;
}

.why-cloud-kitchen .container h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-cloud-kitchen .why-us-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.why-us-cards >div {
    background: rgb(248, 250, 253);
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.2rem;
    border-radius: 1.18rem;
}

.why-us-cards >div p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: rgb(99, 96, 116);
}

.why-us-cards >div img {
    width: 53px;
}


@media (max-width: 992.99px) {
    .why-cloud-kitchen .why-us-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
}

@media (max-width: 767.99px) {
    .why-cloud-kitchen .why-us-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
    .why-us-cards >div {
        padding: 1.2rem 0.8rem;
        gap: 1rem;
        border-radius: 1rem;
    }

    .why-us-cards >div p {
        font-size: 11px;
        line-height: 16px;
    }

    .why-us-cards h4 {
        font-size: .8rem;
        white-space: nowrap;
    }
}

.how-it-works {
    margin-top: clamp(2rem, calc(0.7609rem + 5.2174vw), 5rem);
}

.how-it-works .container {
    display: flex;
    flex-direction: column;
    gap: clamp(2.5rem, calc(2.2935rem + 0.8696vw), 4rem);
    justify-content: center;
    align-items: center;
}

.how-it-works .switch{
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    width: max-content;
    gap: 10px;
}
.how-it-works .switch button{
    border: none;
    border-radius: 0;
    color: white;
    font-size: clamp(0.6875rem, calc(0.5068rem + 0.7609vw), 1.125rem);
    font-weight: 500;
    line-height: 22px;
    padding: clamp(0.7rem, calc(0.5348rem + 0.6957vw), 1.1rem) clamp(1rem, calc(0.587rem + 1.7391vw), 2rem);
    color: #fff;
    background-color: transparent;
    overflow: visible;
    cursor: pointer;
    position: relative;
    width: clamp(10.3125rem, calc(7.2043rem + 13.4409vw), 18.125rem);
    height: clamp(3.125rem, calc(2.6277rem + 2.1505vw), 4.375rem);
}

.how-it-works .switch button .btn-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3 ease-in;
    z-index: -1;
}

.how-it-works .switch button .btn-img-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3 ease-in;
    z-index: -1;
}

.how-it-works .switch button .btn-img-active {
    opacity: 0;
}

.how-it-works .switch button.active .btn-img {
    opacity: 0;
}

.how-it-works .switch button.active .btn-img-active {
    opacity: 1;
}

.how-it-works .switch button.active{
    color: #fff;
}

.how-it-works .slider {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    height: 100vh !important;
    background-color: rgba(38, 35, 52, 1);
    z-index: 999999999;
}

.head-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100vw;
    background: #fff;
    padding: 10px 0 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5555555;
}

.how-it-works .swiper-slide {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 15vh;
    padding-right: 290px;
}

.how-it-works .swiper-slide .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.how-it-works .swiper-slide .text{
    display: flex;
    flex-direction: column;
    width: min-content;
    width: 35vw;
    gap: 1rem;
    max-width: 550px !important;
}

.how-it-works .swiper-slide h1.num{
    font-size: clamp(3.75rem, calc(2.0591rem + 7.3118vw), 8rem);
    font-weight: 600;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
}

.how-it-works .swiper-slide img{
    height: clamp(11.875rem, calc(6.4538rem + 22.8261vw), 25rem);
    width: 100%;
    object-fit: contain;
}

.how-it-works .swiper-slide .text h1{
    font-size: clamp(1.875rem, calc(0.8424rem + 4.3478vw), 4.375rem);
    font-size: clamp(1.87rem, calc(1.4602rem + 1.772vw), 2.9rem);
    font-weight: 700;
    line-height: clamp(2.5625rem, calc(2.3089rem + 1.0968vw), 3.2rem);
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
.how-it-works .swiper-slide .text h1 >span:not(.num){
    color: rgba(248, 136, 48, 1);
}

.how-it-works .swiper-slide .text h1 span span:not(.num){
    font-size: clamp(1.5625rem, calc(1.0462rem + 2.1739vw), 2.8125rem);
}

span.num {
    display: none;
}

.how-it-works .swiper-slide .text p{
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.775);
}

.how-it-works .swiper-slide .container >div{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 3rem;
}

.slider-wrapper {
    width: 100vw;
    margin: clamp(2rem, calc(1.1739rem + 3.4783vw), 4rem) 0 0;
    position: relative;
    /* z-index: 9999999; */
}

.hide-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 82%;
    height: 100%;
    z-index: 999999999999999999;
    display: none;
}

.brand-owner {
    display: none;
}

.navigation {
    position: absolute;
    top: 50%;
    color: #fff;
    right: 3rem;
    font-size: 30px;
    transform: translateY(-50%);
    z-index: 999;
}

.navigation div {
    cursor: pointer;
    padding: 5px;
    background: #ffffff45;
    border-radius: 10px;
    border: 1px solid #fff;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kitchen-swiper-pagination, .brand-swiper-pagination {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    right: 3rem !important;
    display: flex !important;
    flex-direction: column !important;
    left: auto !important;
    gap: 5px !important;
    padding-top: 25vh;
    z-index: 99999;
    max-width: 200px;
}

.kitchen-swiper-pagination span.swiper-pagination-bullet-active, .brand-swiper-pagination span.swiper-pagination-bullet-active{
    transform: scale(1.1);
}

.kitchen-swiper-pagination span, .brand-swiper-pagination span {
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    width: auto;
    height: auto;
    background-color: transparent;
    transition: all .3s ease-in;
}

.kitchen-swiper-pagination span>span:not(.num), .brand-swiper-pagination  span>span:not(.num){
    color: rgba(248, 136, 48, 1);
}

.kitchen-swiper-pagination .num, .brand-swiper-pagination .num{
    display: inline;
}

.brand-swiper-pagination >span:last-child span {
    line-height: 20px !important;
    margin-top: 5px !important;
}
@media (max-width: 1199.99px) and (min-width: 767.99px) {
    .how-it-works .swiper-slide .text h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .how-it-works .swiper-slide .num {
        font-size: 60px;
        color: #fff;
    }
    .how-it-works .swiper-slide img {
        max-height: 250px;
    }
}
@media (max-width: 992.99px) {
    .how-it-works .slider {
        height: 650px;
    }
    .how-it-works .swiper-slide {
        padding: 0 0 0 0;
    }
    .how-it-works .swiper-slide .container {
        flex-direction: column;
    }
}
@media (max-width: 767.99px) {
    .how-it-works .slider {
        height: 600px;
    }
    .how-it-works .swiper-slide {
        padding: 0 0 7vh 0;
    }
    .kitchen-swiper-pagination, .brand-swiper-pagination {
        display: none !important;
    }
    .how-it-works .swiper-slide .container {
        flex-direction: column;
    }
    .how-it-works .swiper-slide .container>div {
        flex-direction: column;
        gap: 0rem;
    }
    .how-it-works .swiper-slide .text {
        width: auto;
        gap: 1rem;
        min-width: 230px;
        max-width: 100%;
    }
    .navigation {
        position: absolute;
        top: 1rem;
        color: #fff;
        right: 1rem;
        font-size: 20px;
        transform: translateY(0);
        z-index: 999;
    }
    h1.num {
        display: none;
    }
    span.num {
        display: inline;
    }
}

.increase-your-income {
    background-color: rgba(248, 136, 48, 1);
}

.increase-your-income {
    background-color: rgba(248, 136, 48, 1);
    padding: clamp(2rem, calc(1.1739rem + 3.4783vw), 4rem) 0;
}

.increase-your-income .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.increase-your-income .container .line {
    width: 170px;
    height: 5px;
    background: #fff;
    margin-right: 60px;
}

.increase-your-income .container h1 {
    font-size: clamp(1.9375rem, calc(1.5503rem + 1.6304vw), 2.875rem);
    font-weight: 700;
    line-height: clamp(2.6875rem, calc(2.2228rem + 1.9565vw), 3.8125rem);
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.increase-your-income .container h1 span {
    color: #000;
}

.increase-your-income .container img {
    width: clamp(14.375rem, calc(9.7283rem + 19.5652vw), 25.625rem);
    transform: translateX(-40px);
}

@media (max-width: 992px) {
    .increase-your-income .container .line {
        display: none
    }
}

@media (max-width: 767.99px) {
    .increase-your-income .container {
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .increase-your-income .container img {
        transform: translateX(0);
    }

    .increase-your-income .container h1 {
        text-align: center;
    }
}

.map {
    padding: clamp(2rem, calc(1.1739rem + 3.4783vw), 4rem) 0;
    width: 100vw;
    background-color: rgba(38, 35, 52, 1);
}
.map .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.map .container .text h1 {
    font-size: clamp(2.5rem, calc(1.5965rem + 3.8043vw), 4.6875rem);
    color: #fff;
    line-height: clamp(2.5rem, calc(1.7255rem + 3.2609vw), 4.375rem);
    margin-bottom: clamp(1rem, calc(0.6386rem + 1.5217vw), 1.875rem);
}

.map .container .text h1 span {
    font-size: clamp(1.4375rem, calc(0.9986rem + 1.8478vw), 2.5rem);
    color: rgba(255, 114, 20, 1);
}

.map .container .text p {
    font-size: clamp(0.875rem, calc(0.6685rem + 0.8696vw), 1.375rem);
    font-weight: 400;
    line-height: clamp(1.5625rem, calc(1.4334rem + 0.5435vw), 1.875rem);
    letter-spacing: 0em;
    text-align: center;
    max-width: 500px;
    color: #fff;
}

.map .container .text p span {
    color: rgba(248, 136, 48, 1)
}

.map .container .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.map .container .img img {
    width: 100%;
}

.map .container .img .more {
    position: absolute;
    top: 36%;
    right: 44%;
}

.map .container .img .more .bullet {
    width: clamp(1.25rem, calc(0.4755rem + 3.2609vw), 3.125rem);
    height: clamp(1.25rem, calc(0.4755rem + 3.2609vw), 3.125rem);
    cursor: pointer;
}

.map .container .img .more .bullet:hover +.pop {
    opacity: 1;
}

.map .container .more .pop {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: clamp(7.5rem, calc(6.7255rem + 3.2609vw), 9.375rem);
    height: clamp(7.5rem, calc(6.7255rem + 3.2609vw), 9.375rem);
    background: #fff;
    border-radius: 20px 20px 20px 0;
    opacity: 0;
    transition: all .3s ease-in;
}

.comparison {
    width: 100vw;
    background: rgba(240, 240, 240, 1);
    padding: clamp(2rem, calc(0.7609rem + 5.2174vw), 5rem) 0;
    position: relative;
}

.comparison >img {
    position: absolute;
    top: 0;
    right: 0;
    height: 95%;
    z-index: 2;
}

@media (max-width: 767.99px) {
    .comparison >img {
        height: 85%;
    }
}

.comparison .container {
    z-index: 4;
    position: relative;
}

.comparison .container .head h1{
    font-size: clamp(2.1875rem, calc(1.3172rem + 3.7634vw), 4.375rem);
    line-height: clamp(2.75rem, calc(2.004rem + 3.2258vw), 4.625rem);
    color: rgba(248, 136, 48, 1);
}

.comparison .container .head h1 span{
    font-size: clamp(3.3125rem, calc(2.5665rem + 3.2258vw), 5.1875rem);
    color: rgba(29, 27, 40, 1);
}

.comparison .container .head p {
    font-size: clamp(0.875rem, calc(0.6761rem + 0.8602vw), 1.375rem);
    color: rgba(29, 27, 40, 1);
    margin: clamp(0.4375rem, calc(0.3629rem + 0.3226vw), 0.625rem) 0;
    white-space: nowrap;
    display: flex;
    gap: 5px;
    align-items: center;
}

.comparison .container .head p .line {
    width: 100%;
    height: 2px;
    background-color: rgb(230, 230, 230);
    display: inline;
    margin-left: 10px;
}

.comparison .container .head p >span{
    color: rgba(109, 102, 153, 1);
}

.comparison .container .head p .logo{
    color: rgba(248, 136, 48, 1);
}

.comparison table {
    width: 100%;
    margin-top: 35px;
}

.comparison table p {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: fit-content;
}

.comparison table img{
    display: block;
}

.comparison tbody tr:not(:last-of-type) td,
thead th {
    border-bottom: 2px solid rgb(230, 230, 230);
    text-align: left;
}

.comparison th,
td {
    text-align: left;
    padding: clamp(0.75rem, calc(0.5013rem + 1.0753vw), 1.375rem) clamp(0.625rem, calc(-0.6183rem + 5.3763vw), 3.75rem);
}

.comparison td:nth-child(1) {
    font-size: clamp(0.7rem, calc(0.6204rem + 0.3441vw), 0.9rem);
    color:rgba(29, 27, 40, 1);
    font-weight: 300
}

.comparison th:nth-child(2) {
    color: rgba(109, 102, 153, 1);
    font-size: clamp(1rem, calc(0.8011rem + 0.8602vw), 1.5rem);
    font-weight: 700
}

.comparison th:nth-child(3) {
    color: rgba(29, 27, 40, 1);
    font-size: clamp(1rem, calc(0.8011rem + 0.8602vw), 1.5rem);
    font-weight: 700
}

.comparison td:nth-child(2) {
    color:rgba(109, 102, 153, 1);
    font-size: clamp(0.7rem, calc(0.5806rem + 0.5161vw), 1rem);
    font-weight: 400
}

.comparison td:nth-child(2) span {
    font-size: clamp(0.6rem, calc(0.5602rem + 0.172vw), 0.7rem);
    font-weight: 300
}

.comparison td:nth-child(3) {
    color:rgba(29, 27, 40, 1);
    font-size: clamp(0.7rem, calc(0.5806rem + 0.5161vw), 1rem);
    font-weight: 400
}

.comparison td:nth-child(3) span {
    font-size: clamp(0.6rem, calc(0.5602rem + 0.172vw), 0.7rem);
    font-weight: 300
}

.brands {
    padding: clamp(2rem, calc(0.7609rem + 5.2174vw), 5rem) 0;
    background: rgba(38, 35, 52, 1);
}

.brands .container {
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, calc(0.8804rem + 2.6087vw), 3rem);
}

.brands .container .text {
    max-width: clamp(31.875rem, calc(20.1829rem + 24.3902vw), 40rem);
}

.brands .container .text h1{
    font-size: clamp(2.1875rem, calc(1.1033rem + 4.5652vw), 4.8125rem);
    font-weight: 700;
    line-height: clamp(2.25rem, calc(0.9592rem + 5.4348vw), 5.375rem);
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: clamp(0.9375rem, calc(0.6793rem + 1.087vw), 1.5625rem);
}

.brands .container .text h1 span{
    color: rgba(248, 136, 48, 1);
}

.brands .container .text p {
    font-size: clamp(0.9375rem, calc(0.6793rem + 1.087vw), 1.5625rem);
    font-weight: 400;
    line-height: clamp(1.75rem, calc(1.4402rem + 1.3043vw), 2.5rem);
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.brands .container .text p span{
    color: rgba(248, 136, 48, 1);
}

.brands-slider-wrapper  {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row-reverse;
    gap: clamp(1rem, calc(0.587rem + 1.7391vw), 2rem);
}

.brands-slider-wrapper .swiper {
    margin: 0;
    width: clamp(28.125rem, calc(1.1433rem + 56.2852vw), 46.875rem);
}

@media (max-width: 767.99px) {
    .brands-slider-wrapper .swiper {
        width: 70%;
    }
}

.brands-slider-wrapper .swiper-slide {
    width: clamp(5.3125rem, calc(4.0217rem + 5.4348vw), 8.4375rem);
    height: clamp(5.3125rem, calc(4.0217rem + 5.4348vw), 8.4375rem);
    background: white;
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: clamp(0.625rem, calc(-0.0204rem + 2.7174vw), 2.1875rem) !important;
}

.brands-slider-wrapper .swiper-slide:nth-child(2) {
    background-color: rgba(96, 67, 148, 1);
}

.brands-slider-wrapper .swiper-slide:nth-child(4) {
    background-color: rgba(247, 146, 57, 1);
}

.brands-slider-wrapper .swiper-slide img{
    width: 100%;
}

.brands .navigation {
    position: static;
    color: #fff;
    font-size: 30px;
    z-index: 999;
    display: flex;
    gap: 10px;
    height: min-content;
    transform: none;
}

.brands .navigation div {
    cursor: pointer;
    padding: 5px;
    background: #ffffff1c;
    border-radius: 10px;
    border: 1px solid rgb(117, 111, 147);
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    margin: 0;
    width: 40px;
}

@media (max-width: 767.99px) {
    .brands .container .text {
        max-width: 90%;
    }
}

.hearing {
    padding: clamp(2rem, calc(0.7609rem + 5.2174vw), 5rem) 0;
    margin-bottom: 5rem;
    background: rgba(249, 251, 251, 1);
    position: relative;
}

.hearing .after {
    position: absolute;
    height: 45%;
    object-fit: cover;
    bottom: 0;
    left: 0;
}

.hearing .before {
    position: absolute;
    height: 35%;
    object-fit: cover;
    top: 0;
    right: 0;
}

@media (max-width: 930px) {
    .hearing .after {
        height: auto;
        width: 80%;
        object-fit: contain;
    }
    .hearing .before {
        height: auto;
        width: 60%;
        object-fit: contain;
    }
}

.hearing * {
    z-index: 2;
}

.hearing .container >h1 {
    font-size: clamp(1.625rem, calc(1.1774rem + 1.9355vw), 2.75rem);
    font-weight: 600;
    text-align: left;
    margin-bottom: clamp(-.7rem, calc(-2.2957rem + 3.4409vw), 0.5rem);
    gap: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hearing .container>h1::after {
    content: '';
    width: 2.5rem;
    height: 5px;
    background-color: rgb(248, 136, 48);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.hearing .container >h1 span{
    line-height: clamp(2.8125rem, calc(2.0665rem + 3.2258vw), 4.6875rem);
    letter-spacing: 0em;
    text-align: left;
    color: rgba(248, 136, 48, 1);
}

@media (max-width: 930px) {
    .hearing .container >h1 span {
        color: #000;
    }
}

.staff-slider {
    padding: 20px 10px;
}

.staff-slider .swiper-slide {
    padding: clamp(1.3rem, calc(1.0215rem + 1.2043vw), 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, calc(0.6022rem + 1.7204vw), 2rem);
    text-align: center;
    position: relative;
}

.staff-slider .img {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #fff;
    outline: 2px solid rgb(61, 56, 84);
}

.staff-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.staff-slider p {
    font-family: Alexandria;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: rgb(109, 102, 153);;
}

.staff-slider h3 {
    font-family: Alexandria;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(38, 35, 52, 1);
    margin-bottom: 10px;
}

.staff-slider h5 {
    font-family: Alexandria;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgb(109, 102, 153);
}

.staff-slider .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 105px);
    border-radius: 1rem;
    background: rgb(240, 240, 240);
    z-index: -1;
    border: 2px solid rgba(61, 56, 84, 1);
    background: rgb(255, 255, 255);
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.06);
}

.staff-slider-wrapper .navigation{
    justify-content: end !important;
}

.staff-slider-wrapper .navigation div{
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 7px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(240, 240, 240);
    width: 60px;
    height: 50px;
    background: #fff;
}

.staff-slider-wrapper .navigation div:last-child{
    border: 1px solid rgba(109, 102, 153, 1);
    background-color: transparent;
    color: rgba(109, 102, 153, 1);
}
.staff-slider-wrapper .navigation div:first-child{
    border: 1px solid rgba(248, 136, 48, 1);
    background-color: transparent;
    color: rgba(248, 136, 48, 1);
}

.staff-slider-wrapper .navigation {
    position: static;
    color: rgb(248, 136, 48);
    font-size: 30px;
    transform: none;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: clamp(0.625rem, calc(0.1277rem + 2.1505vw), 1.875rem);
}
.swiper-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

footer ul {
    list-style: none;
    text-align: center;
}

footer ul a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(38, 35, 52, 1);
}
footer .bottom {
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(38, 35, 52, 1);
}

footer .container .top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: clamp(3rem, calc(-0.2208rem + 5.1948vw), 4rem) 0;
}

footer .container .top .left {
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: clamp(0.625rem, calc(-1.388rem + 3.2468vw), 1.25rem);
}

footer .container .top .left img {
    width: 250px;
}

footer .container .top .left p {
    font-size: 16px;
    line-height: 22px;
}

footer .container .top .left i {
    font-size: 28px;
    line-height: 22px;
}

footer .container .top .left ul {
    display: flex;
    gap: 50px;
    margin-top: clamp(1.25rem, calc(-2.776rem + 6.4935vw), 2.5rem);
}

footer .container .top .right {
    display: flex;
    gap: clamp(1.5625rem, calc(-11.5219rem + 21.1039vw), 5.625rem);
}

footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-top: 1px solid rgba(230, 230, 230, 1);
    padding: clamp(1rem, calc(-2.2208rem + 5.1948vw), 2rem) 0;
}

footer .bottom ul {
    display: flex;
    gap: 20px;
}

@media (max-width: 767.99px) {
    footer .container {
        padding: 0 30px ;
    }
    footer .container .top .left {
        align-items: center;
        text-align: center;
        width: 100%;
    }
    footer .container .top {
        flex-direction: column;
    }
    footer .bottom {
        white-space: nowrap;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    footer .container .top .left p {
        font-size: 14px;
    }
    footer ul a {
        font-size: 13px;
    }
    footer ul a{
        text-align: center !important;
    }
    footer .container .top .left ul {
        gap: 30px;
        justify-content: space-between;
        width: 100%;
    }
    footer .container .top .right {
        justify-content: space-between;
        width: 100%;
    }
}

.hide-content {
    background: #00000040;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999;
    display: none;
}

.register_pop_up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999999999999;
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: none;
}

.register_pop_up h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(29, 27, 40);
}

.register_pop_up form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.register_pop_up form>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 7px;
}

.register_pop_up input,
select,
button, .register_now {
    width: 100%;
    padding: .4rem .8rem;
    border-radius: 10px;
    border: 1px solid rgb(249, 150, 58);
    background: white;
    font-size: 1rem;
}

.register_pop_up button, .register_now {
    background: rgb(249, 150, 58);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.register_now {
    width: fit-content;
}

.btns {
    justify-content: end !important;
    flex-direction: row !important;
    align-items: end !important;
}

.cancel {
    background-color: rgb(169, 169, 169) !important;
    border: 1px solid rgb(169, 169, 169);
}

@media (max-width: 767.99px) {
    .register_pop_up {
        width: 90%;
    }

    .register_pop_up form {
        grid-template-columns: repeat(1, 1fr);
    }
}